{
  "plugins": [
    ["module-resolver", {
      "root": [
        "./src/main",
        "./src/renderer"
      ],
      "alias": {
        "testHelpers": "./__tests__/testHelpers"
      }
    }]
  ]
}
